/* LAYOUT */
#main-container {
    padding-top: 20px;
}
#main-container h1.page-header {
    margin-top: 0;
}

/* TABLE */
.table > tbody > tr > td {
    line-height: 2.2em;
}
.table form.delete {
    display: inline;
    width: auto;
}

/* FORMS */
.radio-inline label {
    font-weight: normal;
}

.form-group .file img {
    max-width: 150px;
    margin: 10px 0;
}
