/* JOBS LIST */
.jobs-list .panel .panel-body {
    padding: 10px;
}
.jobs-list .panel h4 {
    margin: 0 0 5px 0;
}
.jobs-list .panel h4 a {
    color: #333;
}
.jobs-list .panel .separator {
    border-left: 1px solid #cdcdcd;
    padding: 0 5px;
    margin-left: 5px;
}
.jobs-list .panel p {
    margin-bottom: 0;
}

/* COMPANY BOX */
.company-box .thumbnail {
    border: none;
    text-align: center;
}

/* Details list */
ul.details-list span {
    float: left;
    width: 150px;
    font-weight: bold;
}
ul.details-list span i {
    width: 20px;
}

/* JOB VIEW */
.job-view {
    margin-bottom: 20px;
}
